[submodule "jsip_debugger"]
	path = jsip_debugger
	url = https://github.com/ClaraY05/jsip_debugger
[submodule "jsip-debugger-interface"]
	path = jsip-debugger-interface
	url = https://github.com/wuad391/jsip-debugger-interface
